
.App {
  text-align: center;
}





/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7c3aed;
  border-radius: 20px;
  padding: 10px 0;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: inline;
  margin: 0 5vw 0 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  top: 45px;
  right: -2%;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #7c3aed; 
  display: block; 
}
ul li ul li a {display:block !important;} 

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select button {
  background-color: #7c3aed;
  border: none;
}
.select h3 {
  width: 150px;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 10px;
  color: white;
}
.select :hover h3 {
  background-color: white;
  color: #7c3aed;
}


.nav-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 1%;
  position: relative;
  background-color: #b694f0;
}
.nav-profile-img img {
  margin: 0;
  max-width: 50px;
  max-height: 50px;
  border-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto
}


/* Home-nav-class */
.home-class {
  margin: 0 0 0 5vw;
  height: 30px;
  width: 30px;
  position: relative;
}
.home-class img {
  color: white;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto
}




/* Login && Sign Up */
.sign-log {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sign-h3 {
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  color:#7c3aed;
  padding: 5px 10px;
  margin: 0 50px 0 0;
}
.log-h3 {
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  margin: 0 25px 0 0;
}




.link-decoration {
  text-decoration: none;
  color: white;
}





/* Posts display */
.posts-organization {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.posts-organization :hover main {
  border: 2px solid white;
  box-shadow: 0 0 50px -20px #fff;
}
.posts-link {
  width: 20vw;
  margin: 1%;
  text-decoration: none;
}
.posts-display {
  border: 2px solid #7c3aed;
  height: 25vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2vw;
  overflow: hidden;
  background-color: #7c3aed;
}
.posts-display img {
  max-height: 100%;
  max-width: 20vw;
  object-fit: contain;
}
.img-div {
  background-color: #b694f0;
  height: 70%;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-div {
  width: 20vw;
  height: 6vw;
  text-align: left;
}
.p-div p {
  white-space: nowrap;
  font-size: 1.5vw;
  margin: 1vw;
  color: white;
  font-weight: 700;
}






/* Home */
.searchBar {
  border: 2px solid #7c3aed;
  border-radius: 100px;
  padding: 10px 20px;
  width: 60vw;
  background-color: white;
  color: #7c3aed;
  margin-top: 5px;
}





/* Account Page */
.profile-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin: 1%;
  overflow: hidden;
  position: relative;
  background-color: #b694f0;
}
.profile-img img{
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.profile-info {
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.profile-h4 h4 {
  width: 150px;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 10px;
  color: white;
}
.profile-h4 :hover {
  background-color: white;
  color: #7c3aed;
}



/* Edit Account Page */
.profile-img-edit {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  background-color: #b694f0;
}
.profile-img-edit img{
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.profile-outer h2 {
  color: white;
  margin: 5px 5px 0 5px;
}
.profile-info-edit {
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  padding: 5px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.profile-info-edit span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}
.profile-info-edit input {
  border: 2px solid #7c3aed;
  border-radius: 20px;
  font-size: 13px;
  margin: 0;
  padding: 5px;
}
.profile-button {
  background-color: #7c3aed;
  border: none;
  padding: 20px 0 0 0;
  margin: 0;
}
.profile-button h4 {
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
}
.profile-button :hover {
  background-color: white;
  color: #7c3aed;
}






/* New Post Page */
.new-item-info {
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
}
.new-item-info label {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.new-item-info input {
  border: 2px solid #7c3aed;
  border-radius: 20px;
  margin: 0;
  padding: 5px;
  width: 180px;
}
.new-item-info textarea {
  border: 2px solid #7c3aed;
  border-radius: 20px;
  margin: 0;
  padding: 5px;
}
.new-item-button {
  border: none;
  padding: 0;
  margin: 20px 0 0 0;
  background-color: #7c3aed;
}
.new-item-button h4 {
  margin-top: 15px;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
}
.new-item-button :hover {
  background-color: white;
  color: #7c3aed;
}





/* Post Details Page */
.post-details-organization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.post-details-img img {
  background-color: #fff;
  max-width: 90vw;
  max-height: 50vw;
}
.post-details {
  margin-top: 10px;
  background-color: #7c3aed;
  border-radius: 20px;
  width: 375px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-details h3 {
  margin-bottom: 0;
}
.post-details textarea {
  border: 2px solid white;
  background-color: #fff;
  color: #7c3aed;
  border-radius: 20px;
  width: 360px;
  height: 100px;
  margin: 0 0 20px 0;
  text-align: left;
  padding: 8px;
}
.post-details-user-img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
  position: relative;
  background-color: #b694f0;
}
.post-details-user-img img {
  max-width: 80px;
  max-height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.post-details-user-button {
  border-radius: 20px;
  border: none;
  padding: 0;
  background-color: white
}
.post-details-user-button h4 {
  color: #7c3aed;
  border:2px solid #7c3aed;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
}
.link-row {
  width: 200px;
  display: flex;
  align-self: center;
  align-items:center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
}
.link-row :hover h4 {
  color: white;
  background-color: #7c3aed;
}

.edit-delete-btn button {
  margin: 0 10px 20px 10px;
  width: 120px;
  padding: 10px 20px;
  font-weight: 900;
  border: 2px solid white;
  background-color: #7c3aed;
  color: white;
  border-radius: 20px;
}
.edit-delete-btn :hover button {
  background-color: white;
  color: #7c3aed;
}






/* Edit Posts Page */
.post-details-organization h1 {
  color: #7c3aed;
}
.edit-post-details {
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  padding: 5px 20px 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 20px;
}
.edit-post-details span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  color: #7c3aed;
}
.edit-post-details input {
  border: 2px solid #7c3aed;
  border-radius: 20px;
  font-size: 13px;
  margin: 0;
  padding: 5px;
  width: 180px;
}
.edit-post-button {
  margin: 0;
  padding: 0;
  background-color: #7c3aed;
  border: none;
}
.edit-post-button h4 {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 25px;
  padding: 10px;
  background-color: #7c3aed;
  color: white;
}
.edit-post-button :hover {
  background-color: white;
  color: #7c3aed;
}





/* Public Profile Page */
.public-details {
  margin: 5px;
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  padding: 5px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.public-details h3 {
  margin: 15px 0;
}
.public-details div {
  align-self: center;
}


.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.public-reviews {
  margin: 5px 0 30px 0;
  background-color: #7c3aed;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
}
.public-reviews summary {
  font-size: 20px;
  font-weight: 600;
}
.public-reviews-main {
  height: 400px;
  background-color: #b694f0;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  overflow: scroll;
}
.public-reviews-main div {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  color: #7c3aed;
}
.public-reviews-main p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.public-reviews-main span {
  font-size: 20px;
  font-weight: 800;
}
.public-form {
  font-size: 16px;
  font-weight: 500;
  margin: 15px;
  padding: 15px;
}
.public-form-span {
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  width: 290px;
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}
.public-form-span input {
  border: none;
  color: #7c3aed;
  font-size: 18px;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.public-form-span button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}