.App {
  text-align: center;
  /* background-color: #1c1e21; */
}
/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fe019a;
  border-radius: 20px;
}
.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}




.link-decoration {
  text-decoration: none;
  color: black;
}





/* Posts display */
.posts-organization {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.posts-link {
  width: 20vw;
  margin: 1%;
  text-decoration: none;
}
.posts-display {
  border: solid #fe019a;
  height: 25vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2vw;
  overflow: hidden;
  background-color: #bea8b9;
}
.posts-display img {
  max-height: 100%;
  max-width: 20vw;
  object-fit: contain;
}
.img-div {
  background-color: #2e3031;
  height: 70%;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-div {
  width: 20vw;
  height: 6vw;
  text-align: left;
  color: black;
}
.p-div p {
  white-space: nowrap;
  font-size: 1.5vw;
  margin: 1vw;
}






/* Home */
.searchBar {
  border: 1px solid #fe019a;
  border-radius: 100px;
  padding: 10px 20px;
  width: 60vw;
}